{
  border: 2px solid red;
}

html, body{
  overflow-x: hidden;
  background-color: #f6f6f6;
  font-family: arial;
}


.navbar{
  position: fixed;
  z-index: 1000;
  width: 100%;
  border: none;
  border-radius: 0;

}
navbar-brand{
  line-height: 300px;
}

.navbar-toggle{
  border-style: none;
}


.anchor{
  display: block;
  position: relative;
  top: -135px;
  font-size: 20px;
  color: red;
  visibility: hidden;
}


.navbar-toggle:focus{
  background-color: transparent !important;
}
.navbar-toggle:hover{
  background-color: transparent !important;
}

.navbar-brand{
  color: #f6f6f6 !important;
  font-family: cursive !important;
}

.navbar-nav a {
  color: #f6f6f6 !important;
}
.navbar-collapse{
  border-bottom: yellow !important;
  border-style: none !important;
}

.icon-bar{
  background-color: #f6f6f6 !important;
}

.navbar-default{
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  background: transparent;
}

.navbar-button{
  color: red;
  border-style: none;
}

.center-logo{
  text-align: center;
  position:relative;
  top: 25%;
  left: 51%;
  transform: translateX(-50%);
}

.nopaddinglr {
  padding-left: 0px;
  padding-right: 0px;
}

.img-responsive-2{
  height: auto;
  width: 100%;
}

.summary-wrapper{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.summary{
  flex: 1 1 50%;
}

.summary-text{
  color: white;
  text-align: center;
  padding: 1em 2em;
}

.portfolio-gallery{
  display: block;
  height: 100%;
  width: 100%;
  background-color: black;
  z-index: 10000000000000;
}

#zoomimg img:hover {
  transform: scale(1.2);
}
#zoomimg img{
  transition: 0.50s;

}
.zoomimg {
  overflow: hidden;

}

.centertext{
  padding: 5% 20%;
  text-align: center;
  display: block;
  font-size: 15px;
  color: #f6f6f6;

}

/* No use */
.testimonialimg{
  margin-bottom: 30px;
  border-radius: 100%;
  height: 70px;
  width: auto;
}


.footer{
  background-color: #282b2d;
  color: #767676;
}
.footer a{
  color: #767676;
}

.footer h4{
  color: #f6f6f6;
}


.footerbox{
  margin-top: 5%;
  margin-bottom: 20px;
}

h4{
  margin-bottom: 5%;
}

ul{
  padding: 0px;
}

ul li{
  list-style-type: none;
}

@media screen and (max-width: 1200px) and (min-width:992px){
  .googlemap{
    width: 40% !important;
  }
  .footerbox2{
    width: 40% !important;
  }
  .footerbox3{
    width: 20% !important;
  }
}


@media screen and (max-width: 800px) {

  html{
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 767px) {
  .summary{
    flex: 1 1 100%;
  }
  .navbar-brand{
    line-height: 20px;
  }
  .anchor{
    display: block;
    position: relative;
    top: -110px;
    color: red;
    visibility: hidden;
  }
}
@media screen and (max-height: 600px){
  .header{
    height: 600px !important;
  }
}
